* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 80%;
}
.back-wrapper {
  display: flex;
  align-items: center;
}
.back-wrapper button {
  background-color: black;
  color: #43d3fe;
  border: none;
  width: 70px;
  height: 70px;
  border: 0 !important;
  outline: black !important;
}
.back-wrapper button:hover {
  animation: pointerButton 1s ease-in-out;
}
.back-wrapper button:focus .back-wrapper button::-moz-focus-inner {
  border: 0 !important;
  outline: black !important;
}
@keyframes pointerButton {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}

.back-wrapper p {
  margin-left: 1rem;
  padding-top: 10px;
}

a {
  margin-bottom: 3vh;
  text-decoration: none;
  color: #43d3fe;
  transition: all 0.5s ease;
  margin-right: 1rem;
}
a:hover {
  color: #43fef5;
}
i {
  font-size: 45px;
}
i:hover {
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 40rem;
  position: relative;
  margin-right: 5rem;
}

.description h1 {
  font-size: 48px;
  margin-bottom: 5vh;
}

.description p {
  font-size: 24px;
  padding-bottom: 3vh;
}
.description i {
  padding-bottom: 10vh;
}
.description li {
  margin-bottom: 1vh;
  font-size: 20px;
}

.image {
  position: relative;
  flex: 1;
  flex-basis: 15rem;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
