@font-face {
    font-family: Neon;
    src: url(../fonts/Neoneon.otf) format("opentype");
}
* {
    margin: 0;
}
:root {
    --background: black;
    --neon-green: rgb(11, 255, 3);
    --neon-red: #fe0000;
}
body {
    background-color: var(--background);
    color: var(--neon-green);
    font-family: Neon;
}

/* header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 30px;
}

/*Animatin for header */
@keyframes headGlow {
    from {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
header h1 {
    border: 2px solid var(--neon-green);
    padding-top: 5px;
    padding-left: 3px;
    border-radius: 5px;
    font-size: 55px;
    text-shadow: 1px 1px var(--neon-green);
    animation: headGlow 4s;
}

/*Navigation*/
header a {
    text-decoration: none;
    color: var(--neon-green);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 30px;
    font-size: 1.55rem;
}
.border {
    border-right: 1px solid var(--neon-green);
}

/* Hero Section */
.hero {
    background-attachment: fixed;
    background-position: center;
    background-image: url(../Images/heroImg-1.jpg);
    background-size: cover;
}
.hero div {
    height: 600px;
}
