@font-face {
    font-family: Neon;
    src: url(../fonts/Neoneon.otf) format("opentype");
}
* {
    margin: 0;
}
:root {
    --background: rgb(3, 0, 0);
    --neon-green: rgb(11, 255, 3);
    --neon-red: #fe0000;
}
body {
    background-color: var(--background);
    color: var(--neon-red);
}

/* header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 30px;
    font-family: Neon;
}

/*Animatin for header */
@keyframes headGlow {
    from {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
header h1 {
    border: 2px solid var(--neon-red);
    padding-top: 5px;
    padding-left: 3px;
    border-radius: 5px;
    font-size: 55px;
    text-shadow: 1px 1px var(--neon-red);
    animation: headGlow 5s;
    box-shadow: 2px 2px 15px 1px var(--neon-red);
}

/*Navigation*/
header a {
    text-decoration: none;
    color: var(--neon-red);
}
header a:hover {
    box-shadow: 2px 2px 15px 1px var(--neon-red);
    transition: 1s;
    color: var(--neon-red)
} 
header nav ul {
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 30px;
    font-size: 1.55rem;
}
.red-border {
    border-right: 1px solid var(--neon-red);
}

/* Hero Section */
.hero {
    background-attachment: fixed;
    background-position: center;
    background-image: url(../Images/heroimg-red.jpg);
    background-size: cover;
}
.hero div {
    text-align: center;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.quote h2{
    width: 35%;
    margin-bottom: 20px;
    background-color: var(--background);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--neon-red);
    margin-bottom: 50px;
}
.quote h2 span {
    display: block;
    margin-top: 10px;
}

/* About Me Section */
.title-flex {
    display: flex;
    justify-content: center;
}

.main-titles {
    font-size: 3rem;
    width: 20%;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--neon-red);
}
.about-content-wrapper img {
    width: 50%;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.about-content-wrapper img:hover {
    box-shadow: 2px 2px 15px 2px var(--neon-red);
    transition: 1s;
}
.about-content-wrapper h3 {
    font-size: 25px;
    line-height: 125%;
}
.btn {
    background-color: red;
    width: 150px;
}

/* My Work Section */
.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px repeat(1, 200px);
    width: 75%;  
    justify-items: center;
    grid-gap: 30px;

    
}
.works {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    box-shadow: 2px 2px 15px 2px var(--neon-red);
}

.works div p {
    font-size: 20px;
    text-decoration: none;
    color: var(--neon-red);
    background-color: var(--background);
    padding: 10px;
    border-radius: 5px;
}

.coding-quiz div p {
    font-size: 30px;
    width: 100%;
}
.coding-quiz {
    width: 100%;
    grid-column: 1 / span 3;
    background-image: url("../Images/screencapture-127-0-0-1-5501-index-html-2020-11-06-18_28_47.png");
    background-size: cover;
}
.taskinator {
    background-image: url("../Images/Taskinator.png");
    background-size: cover;
    background-position: center;
    width: 70%;
}
.jsClock {
    background-image: url("../Images/javaScript-clock.jpg");
    background-size: cover;
    background-position: center;
    
    width: 70%;
}
.pw {
    background-image: url("../Images/Screen-shot.png");
    width: 70%;
    background-size: cover;
    background-position: center;
}

/* Contact Me Section */
.contact-wrapper {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

input[type=text], textarea {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type=submit] {
    width: 100%;
  background-color: var(--neon-red);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Footer */
footer {
    width: 100%;
    padding: 30px;
    border-top: 5px solid var(--neon-red);
    margin-top: 20px;
}
footer p {
    font-size: 25px;
}

/* Media Querry for small laptops/ Ipad pro */
@media screen and (max-width: 1025px) {
    header{
        justify-content: center;
    }
    .main-titles {
        font-size: 2.8rem;
        margin-top: 80px;
    }
    .about-content-wrapper h3 {
        font-size: 20px;
    }
    .grid-content {
        grid-template: 300px repeat(3, 250px) / 1fr;
        grid-gap: 20px;
    }
    .coding-quiz div p {
        font-size: 20px;
        width: 100%;
    }
    .coding-quiz {
        background-position: inherit;
    }
    .taskinator {
        width: 100%;
        grid-column: 1 / span 3;
        background-image: url("../Images/Taskinator.png");
        background-size: cover;
        background-position: inherit;
    }
    .jsClock {
        width: 100%;
        grid-column: 1 / span 3;
        background-image: url("../Images/javaScript-clock.jpg");
        background-size: cover;
    }
    .pw {
        width: 100%;
        grid-column: 1 / span 3;
        background-image: url("../Images/Screen-shot.png");
        background-size: cover;
        background-position: center;
    }
    .about-content-wrapper img {
        box-shadow: 2px 2px 15px 2px var(--neon-red);
    }
}

/* Media Querry for ipad and small tablets */
@media screen and (max-width: 769px) {
    .about-content-wrapper h3 {
        font-size: 15px;
    }
    .contact-wrapper {
        width: 60%;
        margin-left: 20%;
    }
    input[type=text], textarea {
    width: 300px;
    }
    
}
/* Media Querry for phones */
@media screen and (max-width: 575px) {
    header nav ul li a {
        padding: 3px 8px;
        font-size: 1.2rem;
    }
    .quote h2 {
        font-size: 1.2rem;
        width: 50%;
    }
    .main-titles {
        font-size: 1.5rem;
    }
    .about-content-wrapper {
        justify-content: center;
    }
    .about-content-wrapper img {
        width: 50%;
        box-shadow: 2px 2px 15px 2px var(--neon-red);
        margin-right: 10px;
    }
    .about-content-wrapper h3 {
        font-size: 10px;
    }
    .download-button-wrapper {
        width: 70%;
        text-align: center;
        margin-left: 25%;
    }
    .btn {
        margin-left: 35%;
    }
    .about-content-wrapper img {
        margin-right: 25%;
        margin-bottom: 10px;
    }
    .contact-wrapper {
        width: 60%;
        margin-left: 20%;
    }
    input[type=text], textarea {
    width: 200px;
    }
    footer {
        padding: 25px;
        text-align: center;
    }
    footer p {
        font-size: 15px;
    }

}
@media screen and (max-width: 500px) {
    .about-content-wrapper h3 {
        font-size: 10px;
        width: 70%;
    }
    .btn {
        margin-left: 70%;
    }
}
/* Media Querry for iphone 6 and smaller devices */
@media screen and (max-width: 412px) {
    header h1 {
        font-size: 40px;
    }

    header nav ul li a {
        padding: 4px 8px;
        font-size: .83rem;
    }

    .download-button-wrapper {
        width: 90%;
    }
    .btn {
        margin-left: 25%;
    }
}